# Python 기초

[구글 코랩에서 열기](https://colab.research.google.com/github/turbok2/python_basic/blob/main/20220216/Python_%EA%B8%B0%EC%B4%88.ipynb)

Summary
* Data Types (자료형) - String, Number(Integer, ...), Elements(List, Set, Dict, Tuple), Boolean
* Conditional Statement (조건문) - if, elef, else
* Loops (반복문) - for, (range, list, dict(dict.items()))
* Function (함수) - def, return
* String - split, join, replace
* File I/O - open, read, write

## Data Types

### 숫자

In [2]:
print(1000)
print(1000.0)
print(100 - 200)
print(100 * 200)
print(100 / 200)
print(12)

1000
1000.0
-100
20000
0.5
12

In [3]:
print(6367237)

6367237

type : 자료형을 알려주는 함수

In [4]:
b=1
type(b)

int

In [5]:
c=1.0
type(c)

float

### 문자

In [6]:
a="홍길동"
print(a)
print(a)

홍길동
홍길동

문자형은 + 연산을 하면 자동으로 문자열로 인식하고 뎃셈이 아닌 이어붙이기를 한다.

In [7]:
'홍길동' + ' ' +  '데이터분석가'

'홍길동 데이터분석가'

In [8]:
name = '홍길동'
job = '데이터분석가'
name + '_'+ job

'홍길동_데이터분석가'

In [9]:
type(name)

str

In [10]:
age=21
print('My age is ',age)
# print('My age is '+age)  #에러 발생 => 문자와 숫자를 +연산자로 합칠 때는 에러, 한 가지 자료형으로 변환해줘야 함.
print('My age is '+str(age))

My age is  21
My age is 21

### List
1. 여러 Elements 들을 저장하고 있는 자료형 (Element 하나하나는 어떤 자료형 상관 X)
2. 중복이 가능, 순서가 있음

In [11]:
animals = ['개', '고양이', '원숭이', '사자']

In [12]:
animals[0]

'개'

In [13]:
animals[-1]

'사자'

In [14]:
# M:N => M ~ N-1 index elements => list
# M:N => M ~ N-1 번째 요소를 가져온다.
# 파이썬 리스트는 0부터 시작한다.
animals[1:4]

['고양이', '원숭이', '사자']

In [15]:
# M:N => M ~ N-1 index elements => list
#            0       1        2        3
animals = ['개', '고양이', '원숭이', '사자']
animals[1:3]  # 1번쨰부터 2번째까지(N-1, 3-1)

['고양이', '원숭이']

In [16]:
animals[1:]  #1번째부터 끝까지

['고양이', '원숭이', '사자']

In [17]:
animals[:-1] # 처음부터 시작하여, 끝에서 1개는 빼고

['개', '고양이', '원숭이']

In [18]:
animals[:-2] # 처음부터 시작하여, 끝에서 2개는 빼고

['개', '고양이']

In [19]:
print(animals[:]) #모든 요소
print(animals)

['개', '고양이', '원숭이', '사자']
['개', '고양이', '원숭이', '사자']

In [20]:
print(animals[::2]) #처음부터 끝까지, 2간씩 띄어서
print(animals[::-1]) # 처음부터 끝까지, 1간씩 띄어서, -니까 뒤집어서  => 역순으로 정리

['개', '원숭이']
['사자', '원숭이', '고양이', '개']

In [53]:
print(animals[::1])
print(animals[:2:1])
print('-----------------')
print(animals[0::-1]) #-1 간격이므로, start, end가 뒤집어짐, 처음부터, start 0이면 뒤에서 0번째 까지,  뒤로 정렬
print(animals[1::-1]) # 처음부터, start 1이면 뒤에서 1번째 까지,  뒤로 정렬
print(animals[2::-1]) # 처음부터, start 2이면 뒤에서 2번째 까지,  뒤로 정렬
print(animals[3::-1]) # 처음부터, start 3이면 뒤에서 3번째 까지,  뒤로 정렬
print('-----------------')
print(animals[:0:-1]) #-1 간격이므로, start, end가 뒤집어짐, end가 0이면 앞에서 0번째 다음부터, 끝까지, 뒤로 정렬
print(animals[:1:-1]) # end가 0이면 앞에서 1번째 다음부터, 끝까지, 뒤로 정렬
print(animals[:2:-1]) # end가 0이면 앞에서 2번째 다음부터, 끝까지, 뒤로 정렬
print(animals[:3:-1]) # end가 0이면 앞에서 3번째 다음부터, 끝까지, 뒤로 정렬

['개', '고양이', '원숭이', '사자']
['개', '고양이']
-----------------
['개']
['고양이', '개']
['원숭이', '고양이', '개']
['사자', '원숭이', '고양이', '개']
-----------------
['사자', '원숭이', '고양이']
['사자', '원숭이']
['사자']
[]

In [32]:
a=['dog', 'dog', 'dog', 'cat']
a

['dog', 'dog', 'dog', 'cat']

In [33]:
b= [['dog1', 'dog2',' dog3']] #리스트 안에 리스트도 가능
b

[['dog1', 'dog2', ' dog3']]

len : 요소들의 갯수를 알려주는 함수

In [36]:
print(len(a))  #요소가 4개
print(len(b))  #요소가 1개, 단 depth 1의 요소 수만 알려줌
print(len(b[0])) #요소가 3개, 단 depth 2의 요소 수

4
1
3

In [37]:
data = [
    ['dog1', 'dog2', 'dog3'],
    ['cat1', 'cat2', 'cat3']
    
]
print(type(data))
print(len(data))
print(len(data[0]))
data

<class 'list'>
2
3

[['dog1', 'dog2', 'dog3'], ['cat1', 'cat2', 'cat3']]

In [38]:
data[0][-1]

'dog3'

In [39]:
data[0]

['dog1', 'dog2', 'dog3']

In [40]:
data[1]

['cat1', 'cat2', 'cat3']

In [41]:
# list 안에 여러 자료형이 있을 수 있음
[
    123, '홍길동', [1, 2, 3, 4]
]

[123, '홍길동', [1, 2, 3, 4]]

In [42]:
# list에 새로운 data를 추가할 때, append
animals = ['dog', 'dog', 'dog', 'cat']

In [43]:
animals.append('duck')
animals

['dog', 'dog', 'dog', 'cat', 'duck']

### Set
1. 여러 Elements 들을 저장하고 있는 자료형
2. 중복 X, 순서 X

In [1]:
animals = ['dog', 'dog', 'dog', 'cat']
print(animals, type(animals))

['dog', 'dog', 'dog', 'cat'] <class 'list'>

In [2]:
set(animals) # 중복 X, 순서 X => lsit를 set으로 변환하면 중복 제거 효과가 있어서 자주 사용됨.

{'cat', 'dog'}

In [3]:
s = set(animals)
type(s)

set

#### example : unique한 alphabet 뽑기

In [4]:
my_list = [ 'A', 'A', 'A', 'B', 'C', 'C', 'C', 'D', 'D', 'D']
type(my_list)

list

In [5]:
set(my_list)

{'A', 'B', 'C', 'D'}

In [6]:
# 중복을 제거하고 다시 list로 변환
list(set(my_list))

['A', 'B', 'C', 'D']

### Dictionary

In [55]:
member = {'name' : '홍길동', 'birth' : 900101, 'job' : '데이터분석가',
           'email' : 'hgd@gmail.com'}  # key : value 의 쌍
print(member)

{'name': '홍길동', 'birth': 900101, 'job': '데이터분석가', 'email': 'hgd@gmail.com'}

In [63]:
# value를 얻는 방법 , key 값을 이용
member['name']

'홍길동'

In [64]:
member['birth']

900101

In [65]:
member['job']

'데이터분석가'

In [66]:
member['email']

'hgd@gmail.com'

In [67]:
# value를 변경하는 방법
member['hobby']= 'dance'

In [25]:
member

{'name': '홍길동',
 'birth': 900101,
 'job': '데이터분석가',
 'email': 'hgd@gmail.com',
 'hobby': 'dance'}

In [26]:
member.keys()

dict_keys(['name', 'birth', 'job', 'email', 'hobby'])

In [27]:
member.items()

dict_items([('name', '홍길동'), ('birth', 900101), ('job', '데이터분석가'), ('email', 'hgd@gmail.com'), ('hobby', 'dance')])

In [68]:
member.values()

dict_values(['홍길동', 900101, '데이터분석가', 'hgd@gmail.com', 'dance'])

In [28]:
# Dict.get
# key로 불러오기보다는 get을 활용하자

In [29]:
member = {'name' : '홍길동', 'email' : 'hgd@gmail.com'}

In [69]:
member['address']  #'address'라는 key가 없는 경우 에러발생

KeyError: 'address'

In [70]:
member.get('address', '주소를 찾을 수 없습니다.')

'주소를 찾을 수 없습니다.'

In [71]:
member.get('name', '이름을 찾을 수 없습니다.')

'홍길동'

In [36]:
# 학생 1000명을 for 문 돌다가, address가 있으면 address를 출력하고, 없으면 '주소 없음'이라고 출력하자

In [74]:
member1 = {'name' : '홍길동', 'hobby' : 'dance'}
member2 = {'name' : '임꺽정'}
members = [member1, member2]
members

[{'name': '홍길동', 'hobby': 'dance'}, {'name': '임꺽정'}]

In [75]:
for member in members:
    print('이름 ' + member['name'] + ' 취미 ' + member['hobby']) #member2에 hobby 라는 key 가 없어서 에러 발생함

이름 홍길동 취미 dance

KeyError: 'hobby'

In [76]:
for member in members:
    print('이름 ' + member.get('name') + ' 취미 ' + member.get('hobby', '취미가 없습니다.')) #에러 없이 작동

이름 홍길동 취미 dance
이름 임꺽정 취미 취미가 없습니다.

### Tuple
1. List, Dict, Set => 한번 정의해두고, 그리고 나서 데이터를 수정이 가능
2. Tuple은 한번 정의해두면 끝, 수정 불가

In [82]:
a = (30, 40) 
print(a)
print(type(a))
print(a[0],a[1])
a[0]=100  # tuple 은 값을 변경할 수 없음
print(a[0],a[1])

(30, 40)
<class 'tuple'>
30 40

TypeError: 'tuple' object does not support item assignment

### Boolean

In [83]:
print(True)
print(10 > 5)

True
True

In [88]:
if 2:
    print('True')
else:
    print('False')

True

In [89]:
if 0:
    print('True')
else:
    print('False')
# 0만 False고, 나머지는 True

False

In [48]:
print(False)
print(10 < 5)

False
False

* 심화 : [cheatsheet2](https://pycheatsheet.junekim.xyz/?fbclid=IwAR0XaYWcE9zjvDyk2Dvx6tJLkhXONNJeKqV6PbeEhqoSk-75iUmfc4kNreg#type-collections)

* Tip1

In [29]:
# 주석처리
# print('주석입니다.')
print('주석이 아닙니다.')
# 단축키 : 해당 라인 아무 위치에서나  crtl + /

주석이 아닙니다.

In [30]:
# 결과 출력
a=100
b=200
print(b)  #print 은 언제나 출력됨
a  # 출력 안 됨
b  # 그냥 변수명만 쓸때는 맨 마지막 줄만 출력됨

200

200

In [33]:
# print문
print(a)
print(a,b) #자동으로 변수간에 공백이 들어감
c='test'
print(a,b,c)

100
100 200
100 200 test

In [34]:
print('Hello Python!')  # 따옴표 가능
print("Nice to meet you.")  # 쌍따옴표 가능
print('Hello "Python"')  # 내부에 쌍따옴표가 있으면, 따옴표로 감싸기 
print("Hello 'Python'")  # 내부에 따옴표가 있으면, 쌍따옴표로 감싸기
print('Hello', 'Python!')   # 공백이 하나
print('Hello' + 'Python!')  # 공백이 없음

Hello Python!
Nice to meet you.
Hello "Python"
Hello 'Python'
Hello Python!
HelloPython!

In [37]:
# %format
i = 123
f = 3.14
s = 'Hello'
print('i: %d, f: %f, s: %s' % (i, f, s))  #%d 정수,   %f 실수,   %s 문자
print('i: %9d, f: %5.2f, s: %7s' % (i, f, s)) #  %9d  정수 9자리,  %5.2f 총 5자리, 소숫점 이하 2자리,  %7s 문자 7개
print('i: %09d, f: %05.2f, s: %7s' % (i, f, s)) #0 지정된 자리수보다 수가 작으면 0으로 채운다는 의미

i: 123, f: 3.140000, s: Hello
i:       123, f:  3.14, s:   Hello
i: 000000123, f: 03.14, s:   Hello

In [38]:
# str.format 방식
print('i: {}, f: {}, s: {}'.format(i, f, s)) #' '안에 {}는 변수의 위치 , ' '.format() 에 사용할 변수명
print('f: {1}, i: {0}, s: {2}'.format(i, f, s)) # {}안에 숫자를 지정하여, 출력 위치 지정 가능
print('f: {ff}, i: {ii}, s: {ss}'.format(ii=i, ff=f, ss=s)) # {}안에 숫자가 아닌 변수명을 따로 지정하여, 출력 위치 지정 가능

i: 123, f: 3.14, s: Hello
f: 3.14, i: 123, s: Hello
f: 3.14, i: 123, s: Hello

In [43]:
# f-string
for x in range(1,10,2):
    print(f'{x} x 2 = {x*2} 입니다.')  # f' ' 형식으로 사용

1 x 2 = 2 입니다.
3 x 2 = 6 입니다.
5 x 2 = 10 입니다.
7 x 2 = 14 입니다.
9 x 2 = 18 입니다.

In [46]:
# f-string
for x in range(1,10,2):
    print(f'{x} x 2 = {x*2:>10d} 입니다.') # {}안의 : 뒤의 ^ 는 가운데 정렬, > 는 오른쪽 정렬, 없으면 왼쪽 정렬

1 x 2 =          2 입니다.
3 x 2 =          6 입니다.
5 x 2 =         10 입니다.
7 x 2 =         14 입니다.
9 x 2 =         18 입니다.

In [47]:
test = [0.5555, 0.6666, 0.7777]
for x in test :
    print(f'두째자리까지 표현 {x:.2f}') # {}안의 : 2f는  %format 방식에서 %를 빼면 동일하게 적용됨

두째자리까지 표현 0.56
두째자리까지 표현 0.67
두째자리까지 표현 0.78

* 심화 : [cheatsheet2](https://pycheatsheet.junekim.xyz/?fbclid=IwAR0XaYWcE9zjvDyk2Dvx6tJLkhXONNJeKqV6PbeEhqoSk-75iUmfc4kNreg#type-string-formatting)

## Conditional Statement

In [90]:
if 10 < 5:
    print('10이 5보다 크다.')

In [91]:
# 양수, 음수, 0을 구분하는 코드
my_num = -1
if my_num > 0:
    print('양수')
else:
    print('음수')

음수

In [92]:
# 양수, 음수, 0을 구분하는 코드
my_num = 23
if my_num > 0:
    print('양수')
elif my_num == 0:
    print(0)
else:
    print('음수')

양수

In [93]:
my_num = -5
if my_num > 0:
    print('양수')
else:
    if my_num < 0:
        print('음수')
    else:
        print('0')

음수

In [94]:
# [참일 때의 값] if [조건문] else [거짓일 때의 값]
print('참이다' if 10 > 5 else '거짓이다')
print('참이다' if 10 < 5 else '거짓이다')

참이다
거짓이다

In [96]:
# 양수, 음수, 0을 구분하는 코드 1줄
'양수' if my_num > 0 else ('음수' if my_num < 0 else '0')

'음수'

## Loop

In [56]:
for i in range(10): #0부터 (n-1) -> 0,1,2,3,4,5,6,7,8,9
    print(i, '안녕하세요')
    print('000')

0 안녕하세요
000
1 안녕하세요
000
2 안녕하세요
000
3 안녕하세요
000
4 안녕하세요
000
5 안녕하세요
000
6 안녕하세요
000
7 안녕하세요
000
8 안녕하세요
000
9 안녕하세요
000

In [110]:
for i in range(5):
    print(i)
print('-'*20)    
for i in range(0,5):
    print(i)
print('-'*20)        
for i in range(0,5,1): #start, end-1, step
    print(i)

0
1
2
3
4
--------------------
0
1
2
3
4
--------------------
0
1
2
3
4

In [112]:
for i in range(0,5,2):
    print(i)    
print('-'*20)       
for i in range(0,5,-1): #역순으로 할 때는 strat가 end 보다 커야 함.
    print(i)

0
2
4
--------------------

In [114]:
for i in range(5,0,-1):  # 5부터 시작하여 역순으로 0의  앞인 1 까지
    print(i)    
print('-'*20)       
for i in reversed(range(0,5)): # range(0,5) 결과의 역순
    print(i)

5
4
3
2
1
--------------------
4
3
2
1
0

### Loop for list

In [57]:
animals = ['개', '고양이', '사자']
for i in range(3):
    print(animals[i])

개
고양이
사자

In [36]:
animals = ['개', '고양이', '사자']
for animal in animals:
    print(animal)

개
고양이
사자

In [37]:
for i, animal in enumerate(animals): # 처례와 값이 모두 필요할 때 enumerate 사용
    print(i, animal)

0 개
1 고양이
2 사자

### Loop for dictionary

In [126]:
member = {'name' : '홍길동', 'birth' : 900101, 'job' : '데이터분석가',
           'email' : 'hgd@gmail.com'}  # key : value 의 쌍
print(member)

{'name': '홍길동', 'birth': 900101, 'job': '데이터분석가', 'email': 'hgd@gmail.com'}

In [127]:
for key in member:
    print(key + ' => ' + str(member[key]))

name => 홍길동
birth => 900101
job => 데이터분석가
email => hgd@gmail.com

In [128]:
for something in member.items():
    print(something)

('name', '홍길동')
('birth', 900101)
('job', '데이터분석가')
('email', 'hgd@gmail.com')

In [129]:
for key, value in member.items():
    print(key + ' => ', str(value))

name =>  홍길동
birth =>  900101
job =>  데이터분석가
email =>  hgd@gmail.com

In [130]:
for key, value in member.items():
    print(f'{key}  => {str(value)}')  # f-string 방법 : f'' 안에 원하는 출력 지정, {}안에는 변수명 지정

name  => 홍길동
birth  => 900101
job  => 데이터분석가
email  => hgd@gmail.com

In [131]:
for key in member:
    print(key)

name
birth
job
email

## Function

In [133]:
def greeting():   #  입력이 없고
    print('안녕하세요') 
                  # 반환값이 없음
        
greeting()

안녕하세요

In [137]:
def greeting(name): #입력 : name
    '''
    name이라는 String을 받아서, ___님 안녕하세요. 라고 출력하는 함수
    '''
    print(str(name) + '님, 안녕하세요.')  
    # 반환값이 없음

greeting('홍길동')

홍길동님, 안녕하세요.

In [138]:
help(greeting)
# ''' ''' 안에 써진 부분을 docstring 이라 함.

Help on function greeting in module __main__:

greeting(name)
    name이라는 String을 받아서, ___님 안녕하세요. 라고 출력하는 함수

In [139]:
# checkNumber (CamelCase) ... 클래스명
# check_number (underscore)... 변수명, 함수명
# 숫자를 받아서, => 양수, 음수, 0을 구분해주는 함수( input => 'my_num')
def check_number(my_num):
    '''
    숫자를 받아서, => 양수, 음수, 0을 구분해주는 함수( input => 'my_num')
    '''
    
    return '양수' if my_num > 0 else ('음수' if my_num < 0 else '0') # 반환값이 있음

In [150]:
result = check_number(0)
print(result)

0

In [151]:
type(result)

str

In [152]:
def check_number(my_num):
    #if문을 풀어서 쓰면
    if my_num > 0:
        result='양수' 
    else:
        if my_num < 0:
            result ='음수'
        else :
            result='0'
    return result # 변수에 저장한 후 변수를 반환하는 방법

print(check_number(0))
print(check_number(1))
print(check_number(-1))

0
양수
음수

## String과 관련된 함수들
split, join, replace, startswith, endswith, ...

### split & join

In [153]:
data = 'dance,900101,hds@gmail.com,데이터분석가,홍길동'
data.split(',') #쪼갤 때 사용한 기준 문자를 지정

['dance', '900101', 'hds@gmail.com', '데이터분석가', '홍길동']

In [156]:
my_infos = ['홍길동', 'hds@gmail.com', 'dance']
print(','.join(my_infos)) # . 를 기준으로 list의 요소들을 모두 합쳐서 문자열로 만듬.
print(' '.join(my_infos)) # 공백을 기준으로 list의 요소들을 모두 합쳐서 문자열로 만듬.
print(''.join(my_infos)) # 공백 없이 list의 요소들을 모두 합쳐서 문자열로 만듬.

홍길동,hds@gmail.com,dance
홍길동 hds@gmail.com dance
홍길동hds@gmail.comdance

### replace

In [157]:
data.replace(',', '/') #바꾸기

'dance/900101/hds@gmail.com/데이터분석가/홍길동'

### search

In [159]:
print('홍길동' in data)   #data에  '홍길동'이 있는지 찾기 - 있으면 True
print('이순신' in data)   #data에  '이순신'이 있는지 찾기 - 없으면 False

True
False

### startswith & endswith

In [164]:
data

'dance,900101,hds@gmail.com,데이터분석가,홍길동'

In [165]:
data.startswith('dance')  #문자열 data가  'dance'로 시작하는지?

True

In [166]:
data.startswith('123')   #문자열 data가  '123'로 시작하는지?

False

In [167]:
data.endswith('홍길동')   #문자열 data가  '홍길동'로 끝나는지?

True

## File I/O

In [189]:
import os, sys
print(os.getcwd())
print(os.listdir())

E:\workspace\python\tf\강의자료\수업용\수업준비_전남대병원
['.ipynb_checkpoints', 'animals.csv', 'animals2.csv', 'backjun_quiz.ipynb', 'Basic', 'fruits.csv', 'python 기초_속성.ipynb', 'Python_기초.ipynb', 'Python_기초1.ipynb', 'Python_기초2.ipynb', 'Python_기초3.ipynb', 'src', '속성과정용_파이썬 기본 문법과 pandas.ipynb', '자습roadmap.pdf', '자습roadmap.pptx', '자습용_Python_기초1.ipynb', '커리큘럼_초안.pptx', '파이썬 기초반 스터디.pptx', '파이썬개발환경.pdf', '파이썬개발환경.pptx', '파이썬기초.pptx']

In [190]:
!dir

 E 드라이브의 볼륨: 새 볼륨
 볼륨 일련 번호: 5C2B-4A60

 E:\workspace\python\tf\강의자료\수업용\수업준비_전남대병원 디렉터리

2022-02-03  오후 04:40    <DIR>          .
2022-02-03  오후 04:40    <DIR>          ..
2022-01-31  오전 09:26    <DIR>          .ipynb_checkpoints
2020-11-19  오전 02:36                58 animals.csv
2020-11-19  오전 02:40               117 animals2.csv
2022-02-02  오후 08:12            57,374 backjun_quiz.ipynb
2022-01-14  오후 07:49    <DIR>          Basic
2020-11-19  오전 02:47                59 fruits.csv
2020-11-19  오전 02:00            15,035 python 기초_속성.ipynb
2022-02-03  오후 02:03            65,120 Python_기초.ipynb
2022-01-26  오전 11:26            44,584 Python_기초1.ipynb
2022-01-20  오전 11:30            34,008 Python_기초2.ipynb
2022-01-19  오후 09:13            30,753 Python_기초3.ipynb
2022-01-14  오후 04:45    <DIR>          src
2020-11-23  오전 12:48            19,230 속성과정용_파이썬 기본 문법과 pandas.ipynb
2022-01-06  오전 10:29           389,421 자습roadmap.pdf
2022-01-06  오전 10:30           418,571 자습roadmap.pptx
2022-01-06  오전 09:48            33,002 자습용_Python_기초1.ipynb
2022-01-06  오전 10:25           420,491 커리큘럼_초안.pptx
2021-12-28  오후 02:14           326,993 파이썬 기초반 스터디.pptx
2022-01-19  오후 05:27         4,539,466 파이썬개발환경.pdf
2022-01-19  오후 05:27         6,775,364 파이썬개발환경.pptx
2022-01-19  오후 05:24            56,120 파이썬기초.pptx
              18개 파일          13,225,766 바이트
               5개 디렉터리   6,507,278,336 바이트 남음

In [191]:
fp = open('test.txt', 'w') # w : 쓰기모드
fp.write('hello python!')
fp.close() #파일을 다 사용하였으면 닫아주어야 합니다.

In [192]:
os.listdir()

['.ipynb_checkpoints',
 'animals.csv',
 'animals2.csv',
 'backjun_quiz.ipynb',
 'Basic',
 'fruits.csv',
 'python 기초_속성.ipynb',
 'Python_기초.ipynb',
 'Python_기초1.ipynb',
 'Python_기초2.ipynb',
 'Python_기초3.ipynb',
 'src',
 'test.txt',
 '속성과정용_파이썬 기본 문법과 pandas.ipynb',
 '자습roadmap.pdf',
 '자습roadmap.pptx',
 '자습용_Python_기초1.ipynb',
 '커리큘럼_초안.pptx',
 '파이썬 기초반 스터디.pptx',
 '파이썬개발환경.pdf',
 '파이썬개발환경.pptx',
 '파이썬기초.pptx']

In [193]:
# 파일 읽기
fp = open('test.txt', 'r') # r : 읽기모드
data = fp.read()
fp.close() #파일을 다 사용하였으면 닫아주어야 합니다.
print(data)

hello python!

In [194]:
fp = open('test.txt', 'a') # a : 이어쓰기모드
fp.write('\nhello world!')
fp.close() #파일을 다 사용하였으면 닫아주어야 합니다.

In [195]:
# 파일 읽기
fp = open('test.txt', 'r') # r : 읽기모드
data = fp.read()
fp.close() #파일을 다 사용하였으면 닫아주어야 합니다.
print(data)

hello python!
hello world!

In [196]:
# 파일 삭제
os.remove('test.txt')
os.listdir()

['.ipynb_checkpoints',
 'animals.csv',
 'animals2.csv',
 'backjun_quiz.ipynb',
 'Basic',
 'fruits.csv',
 'python 기초_속성.ipynb',
 'Python_기초.ipynb',
 'Python_기초1.ipynb',
 'Python_기초2.ipynb',
 'Python_기초3.ipynb',
 'src',
 '속성과정용_파이썬 기본 문법과 pandas.ipynb',
 '자습roadmap.pdf',
 '자습roadmap.pptx',
 '자습용_Python_기초1.ipynb',
 '커리큘럼_초안.pptx',
 '파이썬 기초반 스터디.pptx',
 '파이썬개발환경.pdf',
 '파이썬개발환경.pptx',
 '파이썬기초.pptx']

Summary
* Lambda (익명 함수)  
    * 함수형 프로그래밍  
    (익명함수 Lambda + Lambda Operator - map, reduce, filter)  
        * map : 모든 element에 동일한 함수 적용  
        * filter 모든 element에 동일한 함수 적용, 결과가 참인 element => List  
        * reduce 모든 element... 줄여나가다가 => 값!!  
* List Comprehension  
    * [i___ for i in elements if _____]

## Lambda  
* Lambda (이름이 있는 함수..., 익명함수) + Lambda Operator (map, filter, reduce)

In [1]:
# Double
def double(x):
    return 2 * x

double(4)

8

In [2]:
lambda x : 2 * x
# lambda 변수명 : 계산식

In [3]:
(lambda x : 2 * x)(100)

200

In [4]:
# [1, 2, 3, 4, 5] List => [2, 4, 6, 8, 10]
# 1. for 문을 돌리고,
# 2. 각각의 element 들에 대해서 '동일한 함수'를 적용
my_list = [1, 2, 3, 4, 5]
result = []
for element in my_list:
    result.append(double(element))
result

[2, 4, 6, 8, 10]

In [5]:
double(my_list) # 원하지 않은 결과가 나옴. [1, 2, 3, 4, 5]*2 와 같이 작용

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [6]:
[1, 2, 3, 4, 5]*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### map(function, list) => list  
* list의 각각의 element에 동일한 function을 적용해서 새로운 list를 반환

In [7]:
# map(Lambda Operator)
# "동일한 함수"를 적용! (Lambda)
list(map(double,[1,2,3,4,5]))

[2, 4, 6, 8, 10]

In [8]:
# double이 되게 간단한 함수니까 익명함수써서 정의하자
list(map(lambda x: 2*x,[1,2,3,4,5]))

[2, 4, 6, 8, 10]

In [9]:
list(map(lambda x: x * 2,
         range(10) # iterable한 애들이면 넣을 수 있음, list처럼 요소를 하나씩 꺼낼 수 있는..
        ))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### filter(function, list) => list  
* list의 각각의 element에 대해서 동일한 function을 적용한 다음에, 함수의 결과가 True인 Element만 남겨서 새로운 list 반환

In [10]:
# 가지고 있는 list에서 100이상의 수만 뽑는 경우
list(filter( lambda x : x>=100,
       [1,100,101,3,4,105,106]
      ))

[100, 101, 105, 106]

- 1-10까지의 자연수 리스트 => 제곱한 결과중에서 50이상의 수만 리스트

In [11]:
# for문 활용
tmp = []
for number in range(1,11):
    if number ** 2 >= 50:
        tmp.append((number) ** 2)
tmp

[64, 81, 100]

In [12]:
# map, filter
tmp = list(filter(lambda x : x>=50,
             map(lambda x : x ** 2, range(1, 11)))) #먼저 map으로 람다함수 적용시킨 결과를, filter로 비교구문 통해 참인 것만 리스트로 출력
tmp
# 이해를 돕기 위해 여러 줄로 표현, 아래처럼 한 줄로 가능

[64, 81, 100]

In [13]:
list(filter(lambda x : x>=50, map(lambda x : x ** 2, range(1, 11))))

[64, 81, 100]

### reduce(function, list) => value

In [14]:
# example 1~5까지의함
result = 0
for i in range(1,6):
    result = result + i
result

15

In [16]:
# 1, 2, 3, 4, 5  <= start
#    3, 3, 4, 5
#       6, 4, 5
#         10, 5
#            15
from functools import reduce
reduce(
    lambda a, b: a+b,
    range(1,6)
)

15

In [17]:
# input : 리스트
# output : 리스트의 element 중에서 가장 큰 수
# get_max() => filter...
def get_max(elements):
    tmp = elements[0]
    
    for element in elements:
        if element >= tmp:
            tmp = element
    return tmp
get_max([1, 100, 2,3, 4, 105, 6])

105

In [18]:
# 1, 100, 2, 3, 4, 105, 6
# 100, 2, 3, 4, 105, 6
# 100, 3, 4, 105, 6
# 100, 4, 105, 6
# 100, 105, 6
# 105, 6
# 105
reduce(
    lambda a, b: a if a > b else b,
    [1, 100, 2,3, 4, 105, 6]
)

105

In [19]:
get_max = lambda elements: reduce(
    lambda a, b: a if a > b else b,
    elements
)
get_max([1, 100, 2,3, 4, 105, 6])

105

## List Comprehension  
list를 정의하는 것처럼 쓰지만. 실제로 내부적으로는 Lambda Operator  
[i--- for i in elements if ----]

In [21]:
list(map(
    lambda x: x**2, # 1. lambda function
    range(1,6)      # 2. list
))

[1, 4, 9, 16, 25]

In [22]:
# [i___ for i in elements if ________]
[  
   i**2 # 1. lambda function  
   for i
   in range(1,6) # 2. list
]

[1, 4, 9, 16, 25]

In [23]:
# [i___ for i in elements if ________]
[ i**2 for i in range(1,6) ]

[1, 4, 9, 16, 25]

In [24]:
[
    i                               # 1. map lambda
    for i
    in [101, 2, 3, 104, 105]        # 2. list
    if i >= 100                     # 3, filter lambda
    
]

[101, 104, 105]

In [25]:
[ i for i in [101, 2, 3, 104, 105] if i >= 100 ]

[101, 104, 105]

In [26]:
# 1-10까지의 자연수 리스트 => 제곱한 결과중에서 50이상의 수만 리스트
[
    i ** 2
    for i 
    in range(1,11)
    if i**2 >= 50   
]

[64, 81, 100]

In [27]:
[ i ** 2 for i in range(1,11) if i**2 >= 50 ]

[64, 81, 100]

# Pandas

In [48]:
import pandas as pd

## Series

In [49]:
series_ex = pd.Series([100, 90, 120, 110, 105])
print(type(series_ex))
series_ex

<class 'pandas.core.series.Series'>

0    100
1     90
2    120
3    110
4    105
dtype: int64

In [50]:
series_ex2 = pd.Series([100, 90, 120, 110, 105], index=['월', '화', '수', '목', '금'])
print(type(series_ex2))
series_ex2

<class 'pandas.core.series.Series'>

월    100
화     90
수    120
목    110
금    105
dtype: int64

In [51]:
series_ex2['월']

100

In [52]:
series_ex2[1]

90

## Dataframe

In [66]:
dataframe_ex = pd.DataFrame({'나이':[80, 20, 34, 53, 75], 
              '수축기혈압':[120, 110, 105, 120, 128], 
              '이완기혈압':[95, 80, 85, 89, 90]}, 
             index=[1, 2, 3, 4, 5])
print(type(dataframe_ex))
print(dataframe_ex.shape)
dataframe_ex

<class 'pandas.core.frame.DataFrame'>
(5, 3)

   나이  수축기혈압  이완기혈압
1  80    120     95
2  20    110     80
3  34    105     85
4  53    120     89
5  75    128     90

In [67]:
dataframe_ex['수축기혈압']

1    120
2    110
3    105
4    120
5    128
Name: 수축기혈압, dtype: int64

In [68]:
a= dataframe_ex['수축기혈압']
print(type(a))

<class 'pandas.core.series.Series'>

In [69]:
dataframe_ex.loc[1]

나이        80
수축기혈압    120
이완기혈압     95
Name: 1, dtype: int64

In [70]:
b = dataframe_ex.loc[1]
print(type(b))

<class 'pandas.core.series.Series'>

In [71]:
print(dataframe_ex['수축기혈압'][1])
print(dataframe_ex.loc[1]['수축기혈압'])

120
120

In [72]:
series_ex2.sort_values()  #올림차순, 기본

화     90
월    100
금    105
목    110
수    120
dtype: int64

In [73]:
series_ex2.sort_values(ascending=False)  #내림차순

수    120
목    110
금    105
월    100
화     90
dtype: int64

In [74]:
dataframe_ex.sort_values(by='수축기혈압', ascending=False) #수축기혈압 을 기준으로 내림차순으로 정렬

   나이  수축기혈압  이완기혈압
5  75    128     90
1  80    120     95
4  53    120     89
2  20    110     80
3  34    105     85

In [75]:
series_ex2[ series_ex2 > 100 ]

수    120
목    110
금    105
dtype: int64

In [77]:
dataframe_ex[ dataframe_ex['수축기혈압'] > 110 ] #수축기혈압 을 기준으로 80이상인 row만 출력

   나이  수축기혈압  이완기혈압
1  80    120     95
4  53    120     89
5  75    128     90

## csv 파일 읽기

In [113]:
# csv 파일 읽기
df = pd.read_csv('animals.csv')

In [114]:
df

     개     dog
0  고양이     cat
1   사자    lion
2  원숭이  monkey

# Class

## Class 기본

### example : person Class

In [78]:
class Person:

    def __init__(self, name, age, money, *args, **kwargs): # instance 생성하는 함수
        self.name = name
        self.age = age
        self.money = money
    
    def introduce(self):
        print('안녕하세요, 저는 {age}살 {name} 입니다.'.format(age = self.age, name = self.name))
    
    def give(self, partner, amount):
        self.money -= amount
        partner.money += amount
        
    def meet(self, another):
        print('{myname}이 {partner_name} 을 만났습니다!'.format(
            myname = self.name,
            partner_name = another.name
        ))

In [79]:
p1 = Person(name = '이몽룡', age = '33', money = 2000)
print(p1.name, p1.age)

이몽룡 33

In [80]:
p1.introduce()

안녕하세요, 저는 33살 이몽룡 입니다.

In [84]:
data = [
        {'name' : '사람1', 'age':30, 'money' : 1000},
        {'name' : '사람2', 'age':40, 'money' : 1000},
        {'name' : '사람3', 'age':50, 'money' : 1000}
]

In [85]:
people = [ Person(name = person['name'], age = person['age'], money = person['money']) for person in data]

In [86]:
people[0].introduce()

안녕하세요, 저는 30살 사람1 입니다.

In [87]:
people[1].introduce()

안녕하세요, 저는 40살 사람2 입니다.

In [88]:
people[2].introduce()

안녕하세요, 저는 50살 사람3 입니다.

In [89]:
p2 = Person(name = '성춘향', age = '16', money = 5000)
p1.meet(another = p2)

이몽룡이 성춘향 을 만났습니다!

In [90]:
p2.give(partner = p1, amount = 2000)
print(p2.money)
print(p1.money)

3000
4000

In [94]:
print(p1)

<__main__.Person object at 0x000001477BD2D808>

In [95]:
# Class에 아래의 코드를 추가하여 동작방식을 변경
# 객체의 메소드의 동작방식을 바꿀 수 있다.
class Person:

    def __init__(self, name, age, money, *args, **kwargs): # instance 생성하는 함수
        self.name = name
        self.age = age
        self.money = money
    
    def __str__(self): # print에 대한 기능 확장 (해당 class에 대해서)
        return self.name
    
    def __add__(self, partner): # 사칙연산에 대한 기능 확장 (해당 class에 대해서)
        print('{name} & {partner_name} | 결혼을 축하합니다.'.format(
            name = self.name,
            partner_name = partner.name
        ))
    
    def introduce(self):
        print('안녕하세요, 저는 {age}살 {name} 입니다.'.format(age = self.age, name = self.name))
    
    def give(self, partner, amount):
        self.money -= amount
        partner.money += amount
        
    def meet(self, another):
        print('{myname}이 {partner_name} 을 만났습니다!'.format(
            myname = self.name,
            partner_name = another.name
        ))

In [96]:
p1 = Person(name = '이몽룡', age = '33', money = 2000)
p2 = Person(name = '성춘향', age = '16', money = 5000)
print(p1)

이몽룡

In [97]:
p1 + p2

이몽룡 & 성춘향 | 결혼을 축하합니다.

### example : Triangle Class  
* State : height, width  
* Behavior : area(넓이계산), is_bigger(다른 삼각형이랑 비교)

In [98]:
class Triangle:
    def __init__(self, height, width):
        self.height = height
        self.width = width
    
    def __str__(self):
        return '({width}, {height}) Triangle'.format(
            width = self.width,
            height = self.height
        )
    
    def area(self):
        self.area = self.height * self.width * 1/2
        return self.area
    
    def is_bigger(self, another):
        return '큽니다' if self.area() > another.area() else ('작습니다' if self.area() < another.area() else '똑같습니다.')

In [99]:
t1 = Triangle(10, 20)
print(t1)

(20, 10) Triangle

In [100]:
t2 = Triangle(10,5)
print(t2)

(5, 10) Triangle

In [101]:
t1.is_bigger(t2)

'큽니다'

## Class 상속 (객체의 상속, Inheritance)  
모든 Class는 일단 object Class에서 상속을 받는 형태  
class object: _init_, __str__, __add\ 같은 method들이 사전에 정의되어있음  
새로 만드는 class에서 저런 동적을 변경하고 싶다면 위의 method들을 재정의하면됨, 그러한 동적을 method overriding이라고 칭함

### 1.4.2.1  simple example   
동물 : 행동 (eat, attack)  
강아지 : (+ 행동 : bark)  
새 : (+ 행동 : fly)

In [103]:
class Animal: # 사실상 기본적으로 class Animal(object): 이런식으로 상속 받는 것 
              # class object: __init__, __str__, __add__, 이런게 미리 다 정의되어 있는 것!
    
    def eat(self):
        print('먹는다!!!')
        
    def attack(self):
        print('공격!!!')

In [104]:
class Dog(Animal):
    def bark(self):
        print('월월!!')

In [105]:
dog = Dog()
dog.bark()
dog.eat()  # Dog  Class 에는 없던 eat 가 실행됨 - 생성시에 Animal을 상속했기 때문

월월!!
먹는다!!!

In [106]:
class Bird(Animal):
    def fly(self):
        print('날다')

In [107]:
bird = Bird()
bird.fly()

날다

In [108]:
dog.fly()  #그럼 메소드는 없으므로 에러 발생

AttributeError: 'Dog' object has no attribute 'fly'

### Method Overriding

In [109]:
class Dog(Animal):
    
    def eat(self):
        print('침을 흘리면서 먹는다!!') # method overriding
    
    def bark(self):
        print('월월!!')

In [110]:
dog = Dog()
dog.eat()  # 기존 Anumal의 eat 대신에 Dog에서 선언한 eat를 실행

침을 흘리면서 먹는다!!